.modal-dialog {
  width: 350px;
  height: 300px;
}

.import-button {
  display: flex;
  margin: 10px 10px;
  padding: 10px 15px;
  background-color: rgb(255, 255, 255);
  border: 0px solid;
  color: rgb(3, 3, 3);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.import-button:hover {
  border-radius:10px;
  background-color: rgb(64, 64, 64);
}
